
<div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-between" style="background-image: url(https://wallup.net/wp-content/uploads/2016/10/12/330468-fantasy_art-cat-artwork.jpg); height: 100vh; padding-bottom: 0px;">
      <div></div>
      <div class="container" style="color: white;">
        <p><%= render 'layouts/flash'%></p>
        <h1 class="display-4" style="color: white;">w a t e r l e m o n | c a t s</h1>
        <h2 class="lead" style="color: white;">Les photos de chats conquérissent le monde...</h2>
        <p class="lead">Commandez-les, avant qu'ils ne prennent les commandes !</p>
      </div>
<div class="divider" >

    <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="33px" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>
		</div>

    </div>

        
    <!--<div class="divider footer-margin-top" >
    <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" class="injected-svg" data-src="/packs/vendor/leap/pages/assets/img/dividers/divider-2-631ef50f46c3851bbff14c48201921be.svg">
        <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
    </svg>
    </div>-->


<div class="text-center mb-5"><%= image_tag image_path('favicon.ico') %></div>

<% if current_user && current_user.admin %>
	<%= link_to "Ajouter de la marchandise", new_media_path, class: 'btn btn-info'%>
<% end %>


<div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; margin: auto;">

	<% @medias.each do |media| %>

		<div class="card" style="width: 300px; margin: 15px; padding: 0px;">
			<div class="card-img-top">
				<a href="<%= media_path(media.id)%>">
				<%= image_tag media.picture, alt: 'picture', style: "width: 300px; height: 200px;  border-top-left-radius: 5px; border-top-right-radius: 5px;"%>
				<!--<img src="<%= media.url %>" style="width: 100%; height: auto; border-top-left-radius: 5px; border-top-right-radius: 5px;">-->
			</a>
			</div>
			<div class="card-footer" style="display: flex; flex-direction: row; justify-content: space-between;">
				<div id="homepage-cat-name">
					<%= media.title %>	
				</div>

				<div id="homepage-price">
					
				$	<%= media.price %>
						
				</div>

			</div>

		</div>

	<% end %>

</div>
