<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%=@media.title%></li>
</ul>

<div class="container-flex">
    <div id="column_1"> <%= image_tag (@media.url)%> </div>
    <div id="column_2">
        <h1> <%=@media.title%> </h1>
        <p> <%=@media.description%> </p>
        <div class="bottom-right"><%=@media.price%></div>
        <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> href="<%= media_cart_path(@media.id, current_user.cart_id)%>" method="put", class="btn-primary"> Ajouter au panier </button>
    </div>    
</div>