

<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%=@media.title%></li>
</ul>

<div class="container-flex">
    <div id="column_1"> <%= image_tag (@media.url)%> </div>
    <div id="column_2">
        <h1> <%=@media.title%> </h1>
        <p> <%=@media.description%> </p>
        <div class="price"><%=@media.price%> € </div>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Acheter maintenant</a>
    </div>    
</div>

