<h1> Mes informations </h1>

<div class="background-block">

  <div>
    <h3> Mettre à jour mon mot de passe </h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="<%= f.email_field :email, autofocus: true, autocomplete: "email" %>

        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-control">
          <%= f.label :password%> <i>(N'ajoutez rien si vous ne souhaitez pas le changer)</i><br />
          <%= f.password_field :password, autocomplete: "nouveau mot de passe" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caractères minimums</em>
          <% end %>
        </div>


        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "nouveau mot de passe" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(mot de passe actuel nécessaire pour confirmer)</i><br />
          <%= f.password_field :current_password, autocomplete: "mon mot de passe actuel" %>
        </div>

        <div class="actions editing" >
          <%= f.submit "Mettre à jour" %>
        </div>
      <% end %>
  </div>
  
  <div>

    <h3>Supprimer mon compte</h3>

    <p> Vous nous quittez déjà? <%= button_to "Je supprime mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button btn btn-outline-danger'%></p>

    <%= link_to "Back", :back %>

  </div>

</div>