<h1> Mes informations </h1>

<div class="background-block">

  <div>
    <h3> Mettre à jour mon mot de passe </h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <i> <%= f.label :email %></i> <br/>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <i>Nouveau mot de passe </i> <br/> <i>(laisser vide si vous ne souhaitez pas le changer)</i>
          <%= f.password_field :password, autocomplete: "nouveau mot de passe", class:"form-control"%>
        </div>

        <div class="field">
          <i> <%= f.label :password_confirmation %></i><br/>
          <%= f.password_field :password_confirmation, autocomplete: "nouveau mot de passe", class:"form-control" %>
        </div>

        <div class="field">
          <i> <%= f.label :current_password %> (mot de passe actuel nécessaire pour confirmer)</i> <br/>
          <%= f.password_field :current_password, autocomplete: "mon mot de passe actuel", class:"form-control"%>
        </div>

        <div class="container-buttons">
          <div> <button type="button" class="btn btn-outline-primary btn-lg"> <%= link_to "Revenir en arrière", :back %> </button> </div> 
          <div> <%= f.submit "Mettre à jour", class:"btn btn-primary btn-lg btn-success"%> </div> 
        </div>

        <% end %>

        
    </div>
  
  <div id="supprimer-mon-compte">
    <h3>Supprimer mon compte</h3>
    <i><p> Vous nous quittez déjà? <%= button_to "Je supprime mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button btn btn-outline-danger btn-sm' %></p></i>
  </div>

</div>