<div class="container"><h1> Bienvenue dans votre espace utilisateur</h1>
<h3> Mes informations </h3>
 <div class="flex-container-2">
    <div> <p> <b> Adresse email : </b> <%=current_user.email%> </p> </div>
    <div><%= link_to "Modifier mes informations", edit_user_registration_path(current_user.id), class: 'button btn btn-outline-success' %> </div>
</div>

<h3> Consulter mes dernières commandes </h3>
</br>
<%current_user.orders.each do |order|%>
<h6>Commande passée le <%=order.created_at.strftime("%d/%m/%Y à %k:%M")  %> </h6>
<div class="row">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">  
                            <%order.medias.each do |media|%>
                            <hr class="my-3 ">
                            <div class="media">
                                <div class="sq align-self-center "> <%= image_tag media.picture, class: "img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0", width: "135", height: "135" %> </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col my-auto">
                                            <h6 class="mb-0"> <%=media.title%></h6>
                                        </div>
                                        <div class="col my-auto"> <small>Qty : 1</small></div>
                                        <div class="col my-auto">
                                            <h6 class="mb-0"> <%=media.price%> $ </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
    </br>
    <h6>Total payé :
        <% sum = 0 %>
        <% order.medias.each { |i| sum+=i.price } %> 
        <%=sum%> $
     </h6>
    </br>
    <hr class="my-3 ">
    <%end%>
</div>